h2 {
border: 2px solid blue;
}

li{
    color: blue;
    background-color: aqua;
}

table {
border: 3px dotted aqua
}

th {
    background-color: rgb(255, 227, 47);
    font-size: 30 px;
}

td {
    background-color: rgb(245, 231, 187);
}